font:
  normal:
    family: {{ font.family }}

  # Point size
  size: {{ font.size }}

selection:
  save_to_clipboard: false

mouse:
  url:
    launcher:
        program: $HOME/.local/bin/linkhandler
        args: []

{{ alacritty_colors }}
