#!/bin/sh
mkdir -p ${XDG_DATA_HOME:-$HOME/.local/share}/npm-packages
NPM_PACKAGES=${XDG_DATA_HOME:-$HOME/.local/share}/npm-packages

OLD_PREFIX=$(npm config get prefix)
[ "$OLD_PREFIX" != "${NPM_PACKAGES}" ] && npm config set prefix "${NPM_PACKAGES}"

export PATH=$PATH:"${NPM_PACKAGES}/bin"
export NODE_PATH="${NPM_PACKAGES}/lib/node_modules:${NODE_PATH}"

mkdir -p ${XDG_CACHE_HOME:-$HOME/.cache}/node
export NODE_REPL_HISTORY=${XDG_CACHE_HOME:-$HOME/.cache}/node/repl_history
